#navDiv {
  display: block;
  margin: 0 auto;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  float: left;
}

li a {
  display: inline-block;
  color: black;
  padding: 20px 10px 10px 30px;
  text-decoration: none;
  cursor: pointer;
}

#name {
  color: black;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  margin-left: 100px;
  margin-right: 100px; 
}

#mainDiv {
  text-align: center;
  columns: 4
}

img {
  width: 200px;
  height: 150px;
  padding: 50px; 
  cursor: pointer;
}

#productLink {
  height: 30vw;
  width: 30vw;
  background-color: grey;
  border-radius: 30px;
  opacity: 0.9;
  margin-bottom: 20px; 
}
#productLink img {
  padding-top: 0;
  padding-bottom: 10px;
  height: 60%;
  width: 50%;
  opacity: 1;
}

/*#stDiv {
  columns: 4
}*/

#aboutUs {
  background-color: grey;
  padding: 30px;
  color: white;
  border-radius: 30px;
  margin-top: 100px;
  opacity: 0.8
}

/*#productLink {
  background-color: grey;
  padding: 30px;
  color: white;
  border-radius: 30px;
  margin-top: 100px;
  opacity: 0.8
}*/
/*body {
  background-color: red;
}
*/